

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  border-bottom: 1px solid rgb(196, 196, 196);

}

#logo {
    font-size: 28px;
    color: black;
    text-decoration: none;
}
ul {
    display: flex;
    flex-direction: row;
    gap: 24px;
list-style-type: none;
}

.navLink {
    color: grey;
    text-decoration: none;
    font-size: 16px;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 

}
img {
    width: 50%;
}